@media (max-width: 600px) {
  .header {
    transition: padding-top 1.0s ease;
    padding-top: 150px;
  }

  .header--display_search {
    padding-top: 20px;
  }

  .logo h2 {
    font-size: 25px;
  }

  .search_bar {
    margin-top: 30px;
  }

  .search_bar--display_search {
    margin-top: 10px;
  }

  .search_bar input {
    width: 80%;
    font-size: 18px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .results {
    width: 99%;
  }

  .single_result {
    max-width: 90%;
    min-width: 300px;
    margin: 0;
    margin-bottom: 10px;
  }
}
